<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script src="../Static/JS/index.js"></script>
</head>
<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
    </header>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <main>
        <div>
            <div class="search">
                <p>Поиск: </p>
                <input id="search-input" type="text" oninput="
                       let userInput = document.getElementsByTagName('input')[0].value;
                       let elements=document.getElementsByClassName('video-container');
                       for (let i=0; i <= elements.length; i++) {
                            let childElements = elements[i];
                            let videoDescription = childElements.getElementsByTagName('h3')[0].innerText;
                            if (videoDescription.toLowerCase().includes(userInput).toLowerCase())
                                elements[i].style.display = 'inline-block';
                            else
                                elements[i].style.display = 'none';
                       }
                "/>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3>Нью-Йорк, Брайант Парк</h3>
            </div>
            <!--Санкт-Петербург-->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e3IGUhlmXMs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Санкт-Петербург, Невский Проспект</h3>
            </div>
            <!--Лондон-->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3>Лондон, автобусный маршрут</h3>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>
</html>